.container{
     max-width: 1100px;
}
header {
    background-image: url(assets/imagen_1.png); 
    background-size: cover;
    height: 550px;
    position: relative;
}
.titulo{
    color: #ffffff;
    font-size: 65px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.parrafo{
    color: white;
    font-size: 15px;
}
.btn{
    background-color: #5080e5;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
#seccion1{
    background-color: #4C89C0;
}
.deport{
    width: 20px;
    height: 20px;
}
.row{
    margin: 0%;
}
#seccion1 img{
    border-radius: 50%;
}
 .slide{
    margin-top: 10px;
    width: 550px;
    height: 550px;
 }
 .slide img{
    height: 65vh;
    border-radius: 1%;
}

#seccion4{
    background-image: url(assets/fondo_2.jpg);
    background-size: cover;
}
#seccion4 img{
    border-radius: 2%;
}
#seccion5{
    background-image: url(assets/fondo_4.jpg); 
    background-size: cover;
    height: 550px;
    position: relative;
}

.subtitulo{
    color: #ffffff;
    font-size: 65px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
}
#seccion6 img{
    border-radius: 2%;
    height: 75%;
    width: 75%;
}
#seccion6{
    color: white;
    background-image: url(assets/fondo_6.jpg); 
    background-size: cover;
    height: 550px;
    position: relative;
}

footer{
    background-color: #252850;
    color: white;
}
